@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/

// variables!

slide_width = 1024px
slide_height = 768px
slide_background = #444

slide_transition_length = .6s
slide_transition_easing = ease
slide_transition_rotate_y = 90deg
// HACK: Because we can't use a 3D transform-origin in Safari
slide_transition_rotate_y_nudge = 90

bullet_transition_length = .3s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px

// base

* 
  box-sizing: border-box
  margin: 0
  padding: 0

// bespoke.js layout styles

article
  transition: background slide_transition_length slide_transition_easing
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    perspective: 600px
    background-color: #222

.bespoke-slide
  transition: all slide_transition_length slide_transition_easing
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  background: slide_background
  padding: 40px
  border-radius: 0

rotate(deg)
  calc_x = slide_width / 2 * (deg > 0 ? 1 : -1) - (slide_transition_rotate_y_nudge * (deg > 0 ? 1 : -1))
  transform: translateX(calc_x) rotateY(deg) translateX(calc_x)

.bespoke-before
  rotate(slide_transition_rotate_y * -1)

.bespoke-after
  rotate(slide_transition_rotate_y)

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-active
  opacity: 1

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity: 0
  li&
    transform: translateX(bullet_transition_translate_x)

.bespoke-bullet-active
  opacity: 1

// bespoke-state styles

.emphatic,
.emphatic .bespoke-slide
  background: slide_background

// prism styles

code
  padding: 26px !important

// content styles

body
  font-family: helvetica, arial, sans-serif
  font-size: 18px
  color: #fff

h1
  font-size: 72px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px

h2
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px

h3
  font-size: 24px
  font-weight: normal
  margin-bottom: 24px
  color: #ccc

hr
  visibility: hidden
  height: 20px

ul
  list-style: none

li
  margin-bottom: 12px
  font-size: 200%

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: orange
  text-decoration: none

.orange
  color: orange

.huge 
  font-size: 600%